.scene {
  background: linear-gradient(#000104, #272835);
  perspective: 1800px;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("https://www.transparenttextures.com/patterns/stardust.png");
  }

  :global {
    div {
      transform-style: preserve-3d;
    }
  }
}

.baseCubeXYZ {
  transform: translate3d(var(--x), var(--y), var(--z));
}

.baseCubeRotate {
  transform: rotateY(var(--ry)) rotateX(var(--rx));
}

.baseWallFront {
  --ryv: 0deg;
}

.baseWallLeft {
  --ryv: -90deg;
}

.baseWallBack {
  --ryv: 180deg;
}

.baseWallRight {
  --ryv: 90deg;
}

.baseWallTop {
  --rxv: 90deg;
}

.baseWallBottom {
  --rxv: -90deg;
  filter: brightness(.3);
}

.innerFront {
  filter: brightness(.9);
}


.innerBack {
  background: #4b4b4b;
  filter: brightness(.5);
}

.innerLeft {
  background: #666;
  filter: brightness(.6);
}


.innerRight {
  filter: brightness(.8);
}

.basePyramid {
  .baseWallTop {
    width: var(--twx);
    height: var(--twz);
  }
}

.baseWallFront, .baseWallBack {
  --rr: var(--fba);
  --tz: calc(var(--wz) / 2);
  --fbe: calc(var(--fbw) + var(--twx));
  --gap: calc(var(--wy) - var(--fbh));
}

.baseWallLeft, .baseWallRight {
  --rr: var(--lra);
  --tz: calc(var(--wx) / 2);
  --lre: calc(var(--lrw) + var(--twz));
  --gap: calc(var(--wy) - var(--lrh));
}

.innerFront, .innerBack {
  width: var(--wx);
  height: var(--fbh);
  clip-path: polygon(var(--fbw) 0, var(--fbe) 0, var(--wx) var(--fbh), 0 var(--fbh));
}

.innerLeft, .innerRight {
  width: var(--wz);
  height: var(--lrh);
  clip-path: polygon(var(--lrw) 0, var(--lre) 0, var(--wz) var(--lrh), 0 var(--lrh));
}

.baseWallTop, .baseWallBottom {
  background: #fff;
  width: var(--wx);
  height: var(--wz);
  --tz: calc(var(--wy) / 2)
}

.innerBack,
.innerFront,
.innerRight,
.innerLeft {
  background: #fff;
  transform-origin: bottom center;
  --fix-h: calc(var(--gap) / 2);
  transform: translateY(var(--fix-h, 0)) rotateX(var(--rr, 0deg));
}

.baseWallTop,
.baseWallLeft,
.baseWallRight,
.baseWallBottom,
.baseWallBack,
.baseWallFront {
  transform: rotateY(var(--ryv, 0deg)) rotateX(var(--rxv, 0deg)) translateZ(var(--tz));
}

.house,
.item,
.item,
.innerBack,
.innerFront,
.innerRight,
.innerLeft,
.baseWallTop,
.baseWallLeft,
.baseWallRight,
.baseWallBottom,
.baseWallBack,
.baseWallFront,
.baseCubeXYZ,
.baseCubeXYZ > div {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.house {
  position: absolute;
  bottom: 20%;
}

.cloth {
  background: #061208 url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
}


.decorateShadow {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCA0NzMgMTQxOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxuczpzZXJpZj0iaHR0cDovL3d3dy5zZXJpZi5jb20vIiBzdHlsZT0iZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjI7Ij48Zz48Y2lyY2xlIGN4PSIyMzYuMjIiIGN5PSIxMTgxLjEiIHI9IjIzNi4yMiIvPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI0NzIuNDQxIiBoZWlnaHQ9IjExODEuMSIvPjwvZz48L3N2Zz4=);
  opacity: 0.2;
}

.decorate {
  @extend .cloth;
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCA0NzMgMTQxOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxuczpzZXJpZj0iaHR0cDovL3d3dy5zZXJpZi5jb20vIiBzdHlsZT0iZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjI7Ij48Zz48Y2lyY2xlIGN4PSIyMzYuMjIiIGN5PSIxMTgxLjEiIHI9IjIzNi4yMiIvPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSI0NzIuNDQxIiBoZWlnaHQ9IjExODEuMSIvPjwvZz48L3N2Zz4=);
  filter: drop-shadow(0px 10px 20px #000);
}

.wood {
  background: #2d1c1b url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

.rocket {
  background: #050505 url("https://www.transparenttextures.com/patterns/xv.png");
}

.wall {
  background: #780200 url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

.innerWall {
  background: #202427 url("https://www.transparenttextures.com/patterns/white-diamond.png");

  &.innerRight {
    filter: brightness(.1)
  }

  &.innerLeft {
    filter: brightness(.7)
  }

  &.baseWallTop {
    filter: brightness(.4)
  }

  &.baseWallBottom {
    filter: brightness(.7)
  }

  &.innerFront {
    filter: brightness(.1)
  }

  &.innerBack {
    filter: brightness(.28)
  }
}

.ground {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  background: rgb(1, 12, 0) url("https://www.transparenttextures.com/patterns/felt.png");

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(#14151d, transparent 50%);
  }
}

.shadow {
  position: absolute;
  background: linear-gradient(75deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  width: var(--sw);
  height: var(--sh);
  --x: calc(var(--sw) * -.5);
  --y: calc(var(--sh) / 2);
  border-radius: 100px;
  transform: translate3d(var(--x), var(--y), 0) rotateY(283deg) rotateX(90deg) scale(2.6) skewY(-4deg);
  transform-origin: 80% 50%;
  filter: blur(20px);
}

.windowClip {
  --p0: calc(var(--wx) - var(--wa));
  --p1x: calc(var(--wx) - var(--wa));
  --p1y: calc(var(--wy) - var(--wa));
  --p2: calc(var(--wy) - var(--wa));
  clip-path: polygon(
                  0 0,
                  var(--wa) var(--wa),
                  var(--p0) var(--wa),
                  var(--p1x) var(--p1y),
                  var(--wa) var(--p2),
                  var(--wa) var(--wa),
                  0 0,
                  0 var(--wy),
                  var(--wx) var(--wy),
                  var(--wx) 0, 0 0);
}

@keyframes ry {
  0% {
    transform: rotateY(0deg)
  }
  100% {
    transform: rotateY(360deg)
  }
}

.gift {
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  background-size: 54px auto;
}

.item {
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
  height: 140px;
  flex-direction: column;
  transition: .2s ease-in-out;
  transform: translate3d(var(--ix, 0), var(--iy, 0), var(--deep)) scale(0);
  filter: brightness(.7) drop-shadow(1rem 1rem 1rem black);
  position: relative;

  &:global(.in) {
    transform: translate3d(var(--ix, 0), var(--iy, 0), var(--deep)) scale(1);
  }

  & > div {
    display: flex;
  }

  &:hover {
    text-shadow: #007fda 0 0 5px;
    filter: brightness(1) drop-shadow(0px 2px 15px rgb(251, 208, 99));
    transform: translate3d(var(--ix, 0), var(--iy, 0), calc(var(--deep) + 30px));

    & > div {
      animation: ry 3s linear infinite;
    }
  }

  p {
    padding: 10px;
  }
}

.bg0 {
  background-color: #621c22;
}

.bg1 {
  background-color: #24421a;
}

.bg2 {
  background-color: #354a4b;
}

.bg3 {
  background-color: #11222d;
}

.bg4 {
  background-color: #511d57;
}

.board {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, .8));
  transition: .2s ease-in-out;
  transform: translate3d(150%, 0, 0);
  @media screen and (max-width: 1024px) {
    transform: translate3d(0, -150%, 0);
  }
}

.act {
  transform: translate3d(0, 0, 0);
}

.cart {
  z-index: 100;
  background: rgba(19, 20, 23, 0.9);
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  width: 400px;
  overflow: hidden;
  transition: .3s ease-in-out;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, .5));
  transform: translate3d(150%, 0, 0);
  @media screen and (max-width: 1024px) {

  }
  @media screen and (max-width: 640px) {
    width: auto;
    left: 1rem;
  }

  &:global(.act) {
    transform: translate3d(0, 0, 0);

    & + :global(.msk) {
      opacity: 1;
      pointer-events: auto;
    }
  }

  & + :global(.msk) {
    transition: .3s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    opacity: 0;
    pointer-events: none;
  }

  :global {
    .total {
      color: #999;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }

    .t-cur {
      font-size: 1.4rem;
      font-weight: 200;
      color: #d2a679;
    }

    .check {
      padding: 1px;
      position: relative;
      left: -.1rem;
      opacity: .7;
      display: flex;
      background: #ffbb0b;
      align-items: center;
      overflow: hidden;
      height: 4rem;
      outline: none;
      width: 100%;
      color: #f6c74c;
      font-size: 1rem;
      transition: .1s ease-in-out;

      &:active {
        background: #e4e6d5;

        &:before {
          background: #070b12;
        }
      }

      span {
        text-transform: uppercase;
        position: absolute;
        right: 2rem;
        font-weight: 200;
        font-size: 1.5rem;
      }

      &:before {
        left: 5rem;
        top: -1px;
        content: '';
        width: 101%;
        height: 101%;
        background: #010202;
        display: block;
        position: absolute;
        transform: skewX(-30deg);
      }

      i {
        margin-left: 1.1rem;
        color: #000;
        font-size: 2.3rem;
      }
    }

    .cur {
      right: 1rem;
      top: 1rem;
      position: absolute;
      font-size: 12px;
      color: #ad874f;
    }

    .name {
      color: #388ea9;
    }

    .cart-item {
      font-size: 14px;
      line-height: 1.5;
      position: relative;
      color: #fff;
      background: #000;
      padding: 2rem 1rem 1rem;
      border-radius: .5rem;
    }

    .tools {
      color: #999;
      background: rgba(255, 255, 255, 0.11);
      border-radius: 5rem;
      padding: .3rem;
      margin-top: 1rem;
    }

    .opt {
      display: flex;
      align-items: center;
    }

    button {
      transition: .2s ease-in-out;
      opacity: .5;
      width: 2rem;
      font-size: 1rem;
      line-height: 1;
      font-weight: 700;
      cursor: pointer;
      margin: 0 .2rem;
      height: 1rem;

      &:hover {
        opacity: 1;
      }

      &:active {
        color: #fff;
      }
    }

    .clo {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 2rem;
      height: 1.3rem;
      width: 1.3rem;
    }
  }
}

.search {
  opacity: .9;

  * {
    transition: .2s ease-in-out;
  }

  &:has(input:focus) {
    opacity: 1;

    input {
      background: #11222d;
      color: #fff;
    }

    background-color: #fff;

    button {
      color: #000;
    }
  }
}

.btnCurrency {
  z-index: 99;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;

  button {
    box-shadow: inset 0 3px 3px #994409, 0 0 3px #8b5d2e;
    transition: .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #b4933f;
    border: .3rem solid #b4a384;
    color: #ffffff;
    width: 4rem;
    height: 4rem;
    position: absolute;
    text-shadow: #24241b 1px 1px 2px;

    &:hover {
      transform: translateY(var(--t, 0)) rotate3d(1, 1, -1, 30deg);
    }
  }

  :global(.cur) {
    z-index: 100;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, .5));
  }
}

.btnCurrency:has(:global(.cur:focus)) {
  button {
    transform: translateY(var(--t, 0))
  }
}

.pageButtons {
  display: flex;
  position: fixed;
  left: 8rem;
  bottom: 2rem;
  color: #fff;

  a, span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 .4rem;
    width: 4rem;
    background: black;
    height: 4rem;
  }

  a {
    box-shadow: rgba(0,0,0,.5) -5px 5px 10px;
  }

  a:hover {
    background: #fff;
    color: #000;
  }

  :global(.cur) {
    pointer-events: none;
    background: #242b30;
  }

  span {
    opacity: .5;
    width: 1rem;
    background: none;
  }
}

.list {
  margin-bottom: -3rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@keyframes shine {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(-60%, -.7rem, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-40%, -2rem, 0);
  }
}

.plus {
  z-index: 100;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 0;
  text-shadow: 0 0 2px #fff;

  &:global(.act) {
    animation: ease-in-out shine .8s;
  }
}

@keyframes rt {
  0% {
    transform: translate3d(-15%, -15%, 1rem) rotateZ(0deg);
  }
  100% {
    transform: translate3d(-15%, -15%, 1rem) rotateZ(360deg);
  }
}

.loading {
  width: 2rem;
  height: 2rem;
  position: absolute;
  z-index: 100;
  border: .2rem solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  border-bottom-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate3d(-15%, -15%, 1rem) scale(0);
  animation: rt 1s linear infinite;
  animation-play-state: paused;
  pointer-events: none;
  transition: .3s opacity ease-in-out;
  opacity: 0;

  &:global(.act) {
    opacity: .6;
    transform: translate3d(-15%, -15%, 1rem) scale(1);
    animation-play-state: running;
  }
}

.glass {
  border: 1px solid rgba(234, 234, 205, 0.3);
  background: rgba(71, 54, 54, 0.2);
}

.glassFront {
  background: linear-gradient(transparent, rgba(95, 116, 144, 0.24));

  &:before {
    opacity: .5;
    content: '';
    background: linear-gradient(-60deg, rgba(white, .15), rgba(white, .02));
    width: 30%;
    height: 100%;
    top: 0;
    left: 40%;
    transform: skew(45deg);
    position: absolute;
  }
}

.cartBtn {
  opacity: .8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  transition: .2s ease-in-out;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 2rem;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffb700;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, .5));

  i {
    color: #000;
    width: 60%;
    height: 60%;
    display: block;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    width: 2em;
    height: 2em;
    font-weight: 700;
    color: #000;
    background: #ffffff;
    left: 80%;
    top: -.5rem;
    position: absolute;
  }

  :global {

  }
}